{% ckan_extends "package/resource_read.html" %}

{% block actions_content %}
  {% if res.url %}
    {% snippet 'package/snippets/back_to_package_action.html', pkg=pkg %}
    <li>
      <a class="btn resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
        {% if res.resource_type in ('listing', 'service') %}
          {{ _('View') }}
        {% elif  res.resource_type == 'api' %}
          {{ _('API Endpoint') }}
        {% else %}
          <i class="icon-large icon-download"></i> Download
        {%endif %}
      </a>
    </li>
  {% endif %}
{% endblock %}
