.hero {
  background: url("../images/homepage-background.jpg") repeat-x center center;
}


.hero .module-popup,
.hero .module-info-overlay {
  margin-top: 30px;
}

.hero .module-content {
  font-size: 12px;
}

.module-info-overlay {
  position: absolute;
  top: 0;
  bottom: auto;
  background: #000;
  background: rgba(255, 255, 255, 0.93);
  /* -webkit-border-radius: 5px; */
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.module-info-overlay:after {
  top: 0;
  left: 25px;
  border: solid rgba(255, 255, 255, 0);
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: rgba(255, 255, 255, 0.93);
  border-width: 12px;
  margin-top: -24px;
}

.module-info-overlay.fade-in {
  opacity: 1;
}

.module-info-overlay .module-heading {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  border: 0;
  background: none;
}

.module-info-overlay .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #ADAFAF;
  opacity: 1;
}
